{% extends 'base.html.twig' %}

{% block title %}Mostrar Alumnos{% endblock %}


{% block content %}

<h1>Alumnos</h1>

{% for alumno in alumnos %}
        <li><a href="http://localhost:8000/alumno/mostrarAlumno/{{alumno.id}}">Nombre: {{ alumno.nombre }}</a></li>

    {% endfor %}


{% endblock %}



