{% extends 'base.html.twig' %}

{% block title %}Mostrar un Alumno{% endblock %}

{% block content %}

<h1>Alumno {{alumno.nombre}}</h1>

{% for asignatura in alumno.asignaturas %}
        <li>Nombre: {{ asignatura.descripcion }}</li>

    {% endfor %}

<a href="http://localhost:8000/alumno/mostrarAlumnos">Volver</a>


{% endblock %}


